
@media (max-width:1050px) {
    .uslugi_items{
        justify-content: space-around;
    }
}

@media (max-width: 1024px) {
    .nav_items{
       margin-right: 50px; 
    }
    
}


@media (max-width: 893px) {
    .block_main {
    margin-top: 80px;
    }
    
    .nav_items{
        display: none;
    }
    
    .gal_content{
        height: auto;
    }
    
    .gal_items{
        margin-top: 5px;
        width: 80%;
    }
    
    .phone{
        display: none;
    }
    
    .btn_a{
        display: block;
    }
    
    .nas_content {
        margin-left: 50px;
    }
    
    .block_contanct {
        height: auto;
    }
    
    .cont_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cont_inputs{
        order: 1;
        margin-bottom: 50px;
    }
    
    .cont_text{
        order: -1;
        margin-bottom: 50px;
    }
    
    .gal_content{
        flex-wrap: wrap;
    }
    
    .header{
        height: 60vh;
    }
}

@media (max-width: 577px) {
    .content_right{
        display: none;
    }
}







@media (max-width: 600px) {
/*Header*/
    
    .header {
        height: 55vh;
    }
    
    .block_main {
        margin-top: 50px;
    }
    
    .nav_elems h2{
        font-size: 26px;
    }
    
    .content_left h1{
        font-size: 26px;
    }
    
    .content_left p{
        width: 250px;
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    .content_left a {
        font-size: 14px;
        padding: 12px 26px;
    }
    
/*/Header*/
    
/*first_text*/
    
    .first_text h2 {
        font-size: 24px;
        
    }
    
    .first_text {
        margin-top: 50px;
        margin-bottom: 20px;
        height: 70px;
    }
    
    
    .line{
        height: 1px;
        width: 35px;
    }
/*/first_text*/
    
/*nas_items*/
    
    .nas_items{
        flex-wrap: wrap;
        height: auto;
    }
    
    .nas_items img{
        width: 70%;
        order: 1;
        margin-top: 20px;
    }
    
    .nas_content {
        margin-top: 20px;
    }
    
    
    .nas_content h2 {
        font-size: 26px;
    }
    
    .nas_content p{
        font-size: 14px;
    }
    
    .nas_content a {
        font-size: 16px;
        display: none;
    }
    
    .nas_content a:after{
        width: 70px;
    }
    
/*nas_items*/
    
/*Uslugi*/
    
    .us_item p{
        font-size: 14px;
    }
    
    .us_item h3{
        font-size: 24px;
    }
    
/*/Uslugi*/
    
/*Prem*/
    
    .prem_back{
        height: 300px;
    }

    .prem_line{
        display: none;
    }
    
    .prem_items{
        flex-wrap: wrap;
        height: 300px;
        justify-content: space-around;
    }
    
/*/Prem*/
    
/*Forms*/
    
    .name{
        width: 350px;
    }
    
    .input_phone{
        width: 350px;
    }
    
    .message{
        width: 350px;
    }
    
/*/Forms*/
    
/*Mobile*/
    
    .phone_m
    {
        font-size: 16px;
        margin-top: 20px;
    }
    
    .nav_items_m a {
        font-size: 20px;
    }
    
    .cont_text p{
        font-size: 14px;
    }
    
    .cont_item span{
        font-size: 16px;
    }
    
    .cont_inputs{
        text-align: center;
    }
    
    
    .footer_content h1 {
        font-size: 24px;
    }
    
    .footer_content p {
        font-size: 16px;
    }
    
    .footer_content span {
        font-size: 18px;
    }
    
    .footer_icons{
        display: none;
    }
    
    .footer{
        height: 80px;
    }
    
    .footer_content{
        height: 80px;
    }
    
    .first_text_contact h2 {
        font-size: 24px;
    }
    
    .line_contact{
        height: 1px;
        width: 35px;
    }
    
    .first_text_contact{
        margin-bottom: 0;
        margin-top: 70px;
    }
    
    .line_prem {
        margin-top: 35px;
    }
    
/*/Mobile*/
    
    
}

@media (max-width: 371px) {
/*Usligi*/
    
    .us_item a{
        padding: 18px 116.5px;
    }
    
    .phone_m{
        font-size: 14px;
    }
    
/*/Usligi*/
}



@media (max-width: 365px) {
/*Usligi*/
    
    .us_item a{
        padding: 18px 110.5px;
    }
    

    
/*/Usligi*/
}



@media (max-width: 350px) {
    .name{
        width: 320px;
    }
    
    .input_phone{
        width: 320px;
    }
    
    .message{
        width: 320px;
    }
}








